body{
    width: 1200px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 3px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 32px;
    margin-top: 80px;
}
h2{
    margin: 32px 0px 16px 0px;
}
p, li{
    font-size: 18px;
    line-height: 27px;
    margin: 18px 0px;
}
ol{
    margin-left: 20px;
}
a{
    color:#5551FF;
    text-decoration: none;
}
div{
    text-align: center;
}